aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiomysql==0.3.2
aiosignal==1.4.0
amqp==5.3.1
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.13.0
attrs==26.1.0
beautifulsoup4==4.14.3
billiard==4.2.4
celery==5.6.3
certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
click==8.3.3
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cryptography==48.0.0
docxtpl==0.20.2
dotenv==0.9.9
et-xmlfile==2.0.0
fastapi==0.136.1
frozenlist==1.8.0
google-api-core==2.30.3
google-auth==2.52.0
google-cloud-core==2.6.0
google-cloud-storage==3.10.1
google-crc32c==1.8.0
google-resumable-media==2.9.0
googleapis-common-protos==1.75.0
h11==0.16.0
idna==3.14
jinja2==3.1.6
kombu==5.6.2
lxml==6.1.0
markupsafe==3.0.3
multidict==6.7.1
openpyxl==3.1.5
packaging==26.2
pillow==12.2.0
pip==25.2
prompt-toolkit==3.0.52
propcache==0.5.2
proto-plus==1.28.0
protobuf==7.34.1
pyasn1==0.6.3
pyasn1-modules==0.4.2
pycparser==3.0
pydantic==2.13.4
pydantic-core==2.46.4
pymysql==1.1.3
pytelegrambotapi==4.33.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-dotenv==1.2.2
python-multipart==0.0.28
redis==7.4.0
requests==2.34.0
six==1.17.0
soupsieve==2.8.3
starlette==1.0.0
telebot==0.0.5
typing-extensions==4.15.0
typing-inspection==0.4.2
tzdata==2026.2
tzlocal==5.3.1
urllib3==2.7.0
uvicorn==0.46.0
vine==5.1.0
vk-api==11.10.0
wcwidth==0.7.0
xlrd==2.0.2
yarl==1.23.0
