{%if plan_list|length%}
<style>
  .catheader {border: 1px solid black; padding: 10px; margin-bottom: 10px; border-radius: 5px;}
  .plans h2{ 
    margin-bottom: 10px;
    margin-top: 30px;
   }
   .plans .more {
      margin-left: 0px;
      background-color: #eeeeee;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
   }

   table.goodlist{
      border-collapse: collapse
   }
   table.goodlist td {border: 1px solid gray; padding: 2px 5px; }
   table.goodlist td.c {text-align: center;}
   table.goodlist tr.h td {text-align: left; font-weight: bold;}

   .download_block {margin-top: 10px; margin-bottom: 10px;}
</style>
<div class="plans">
  {% if manager.type==2 %}

    {% if ov.subscribed_on_action %}
      <b>Подписка на акцию: </b>
    {% endif %}
    <hr>
    {% for u in ur_lico_subscribe %}
      <div>
      {{u.name}}<small>({{u.apt_cnt}})</small>: 
        {% if u.v == '0' %}
          <a href="#" class="ur_lico_subscribe_link" data-action_id="{{u.action_id}}" data-id="{{u.id}}"><span style="color: red;">подписаться</span></a>
        {% elif u.v == '1' %}
          <span style="color: blue;">запрос отправлен</b></span>
        {% elif u.v == '2' %}
          <span style="color: green;"><b>подписка оформлена</b></span>
        {% endif %}
      </div>
      
    {% endfor %}
  {% endif%}
  
  <h2 >Группы товаров</h2>
  
  
  {% for p in plan_list%}
    <div class="catheader">
      <a href="#" id="toggle{{p.id}}" data-id="{{p.id}}">
      {%if p.child|length>0%}
        <b>{{p.header}}</b>
      {%else%}
        {{p.header}}
      {%endif%}
      </a>
      ({{p.begin_date}} - {{p.end_date}})
      
    </div>
    <div id="plan{{p.id}}" style="display: none;" class="more">
      {% if ov.subscribed_on_action%}
        План: {{p.plan}}<br>
        {{p.value_name}}: {{p.value}}
        {% if p.reward_percent%}
          <div>% бонуса: {{p.reward_percent}}</div>
        {% endif%}
      {% endif %}
      


      {% if ov.subscribed_on_action %}
        <div class="download_block">
          <a href="/backend/anna/download/action_plan/xls/{{p.id}}" target="_blank">скачать в xls</a> | 
          <a href="/backend/anna/download/action_plan/dbf/{{p.id}}">скачать в dbf</a>
        </div>
      {% endif %}
      {% if(p.child|length) %}
        <table class="goodlist">
          <tr class="h">
            <td>Штрих код товара</td>
            <td>Наименование</td>
            {% if ov.subscribed_on_action %}
              <td>Витрина <a href="#" class="popup_vitrina">?</a></td>
            {% endif %}
            <td>Сип-цена</td>
            {% if not p.reward_percent and ov.subscribed_on_action%}
            <td>Начисления<br> по бонусу
              <a href="#" class="popup_bonus">?</a>
            </td>
            {% endif %}
          </tr>
        
        {% for g in p.child %}
          <tr >
            <td class="c">{{g.code}}</td>
            <td>{{g.header}}</td>
            {% if ov.subscribed_on_action %}
              <td class="c">{{g.showcase}}</td>
            {% endif %}
            <td class="c">
              {% if g.price == '0' %}
                закупочная цена
              {% else %}
                {{g.price}}
              {% endif %}
              
            </td>
            {% if not p.reward_percent and ov.subscribed_on_action%}
              <td class="c">{{g.percent}}%</td>
            {% endif%}
            
          </tr>
        {% endfor%}
        </table>
      {% endif%}

    </div>
  {% endfor %}

</div>
{%else%}
<p>Данные о группах товаров отсутствуют</p>
{%endif%}