{%if ov.plan !=3%}
    план для аптеки: {{b.plan}}<br>
{%endif%}


{%if ov.plan==1 or ov.plan==3%}
    {%if ov.total_good_price and ov.total_good_price>0%}
        сумма закупки в sip-ценах: 
    {%else%}
        сумма закупки:
    {%endif%}
    {{b.price}}<br>

    кол-во закупки: {{b.buy_cnt}}<br>
    
{%else%} <!-- суммовой --->
    кол-во закупки: {{b.buy_cnt}}<br>
    {%if ov.total_good_price>0%}
        сумма закупки в sip-ценах: 
    {%else%}
        сумма закупки:
    {%endif%}
    {{b.price}}<br>
    
    {%if ov.plan!=3%}
        процент выполнения: {{b.percent_complete}}<br>
    {%endif%}



{%endif%}

{%if b.percent_complete<100%}
    текущий бонус: {{b.current_bonus}}<br>
{%endif%}

{%if ov.plan!=3%}
    процент выполнения при сохранении темпа закупки: {{b.percent_progress}}<br>
{%endif%}
бонус при сохранении темпа закупки: {{b.bonus_progress}}<br>
остальные дистрибьютеры (сумма закупленного товара у всех неразрешённых поставщиков): {{b.other_distrib_sum}}<br>
упущенная выгода (общая сумма, сколько недополучили): {{b.lost_profit}}<br>
{%if ov.plan !=3 %}
    {%if b.left_to_complete_percent>=100%}
        осталось выполнить в %: 0.00<br>
    {%else%}
        осталось выполнить в %: {{b.left_to_complete_percent}}<br>
    {%endif%}
{%endif%}

{%if b.percent_complete>=100 %}
    заработанный бонус: {{b.earned_bonus}}<br>
{%endif%}

{%if b.left_to_complete_rub>0 and ov.plan!=3%}
    {{total_left_to_complete_label}}: {{b.left_to_complete_rub}}<br>
{%endif%}

