<table class="tbl1 sm" style="width: 100%;">



	{%for l in list%}
		{%if l.new_hour%}
			<tr>
				<td>итого</td>
				<td>менеджер</td>
				<td>результат<br>за час</td>
				<td>время написания</td>


				<td>Номер телефона</td>
				<td>Компания</td>
				<td>комментарий</td>

			</tr>
		{%endif%}
		<tr>
			<td>{{l.j}}</td>
			<td>{{l.name}}</td>
			<td>{%for r in l.records%}
					<div>
						<a href="" onclick="return window.toggle('#control{{r.id}}')">{{r.phone}}: {{r.registered}} {{r.direction}}</a>
						{%if r.src%}
			            <audio controls style="display: none;" id="control{{r.id}}">
			              <source src="{{r.src}}" type="audio/ogg">
			              <source src="{{r.src}}" type="audio/mpeg">
			            </audio>
			            {%endif%}
					</div>
				{%endfor%}
			</td>
			<td>{{l.registered}}</td>


			<td>
				{%set prev_phone=''%}
				{%if l.records|length>0%}
					{%for r in l.records%}
						{%if r.phone in l.phones and prev_phone!=r.phone%}
							{%set prev_phone=r.phone%}
							{{r.phone}} - {{r.fio}}<hr>

						{%endif%}
					{%endfor%}
					{{l.contact_name}}
				{%endif%}
			</td>
			<td><a href="/edit_form/user/{{l.user_id}}" target="_blank">{{l.firm}}</a></td>
			<td style="max-width: 500px;">{{l.body}}</td>

		</tr>

	{%endfor%}
</table>