
<style>
  .catheader {border: 1px solid black; padding: 10px; margin-bottom: 10px; border-radius: 5px;}
  .plans h2{ 
    margin-bottom: 10px;
    margin-top: 30px;
   }
   .plans .more {
      margin-left: 0px;
      background-color: #eeeeee;
      border: 1px solid gray;
      border-radius: 5px;
      padding: 10px;
      margin-bottom: 10px;
   }

   table.goodlist{
      border-collapse: collapse
   }
   table.goodlist td {border: 1px solid gray; padding: 2px 5px; }
   table.goodlist td.c {text-align: center;}
   table.goodlist tr.h td {text-align: left; font-weight: bold;}

   .download_block {margin-top: 10px; margin-bottom: 10px;}
</style>
<div class="plans">
  {% if manager.type==2 %}

    {% if ov.subscribed_on_action %}
      <b>Подписка на акцию: </b>
    {% endif %}
    <hr>
    {% for u in ur_lico_subscribe %}
      <div>
      {{u.name}}<small>({{u.apt_cnt}})</small>: 
        {% if u.v == '0' %}
          <a href="#" class="ur_lico_subscribe_link" data-action_id="{{u.action_id}}" data-id="{{u.id}}"><span style="color: red;">подписаться</span></a>
        {% elif u.v == '1' %}
          <span style="color: blue;">запрос отправлен</b></span>
        {% elif u.v == '2' %}
          <span style="color: green;"><b>подписка оформлена</b></span>
        {% endif %}
      </div>
      
    {% endfor %}
  {% endif%}
  
  
</div>


